.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner img{
    width: 100%;
}

.title-head{
    color: orange;
}

.logo-head img{
    width: 100px;
}

.head-form button{
    background-color: black;
    color: white;
}

.menu {
    display: flex;
    flex-direction: column;
    float: left;
}
.menu ul li a{
    text-decoration: none;
    color: white;
}

.menu ul li {
    padding: 30px 40px 30px 20px;
    background-color: black;
    list-style: none;
}

.menu .first-menu{
    background-color: blue;
}

.sale{
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.item{
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow:4px 4px 7px black;
    text-align: center;
}

.item button{
    margin-bottom: 10px;
}

.item img{
    width: 350px;
}

.footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}
