/* .gird-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto;
    grid-template-areas: 'header header header header';
    grid-gap: 10px;
    padding: 10px;
  }

.item1{
      text-align: center;
      grid-area: header;
  } 
  
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center; 
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
} 

img {
  width: 258px;
} 
 */