.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-header{
    font-size: 50px;
    font-weight: bold;
    color: green;
}

.right-header{
    font-size: 50px;
    font-weight: bold;
    color: green;
}

.logo img{
    border-radius: 50%;
    border: solid 5px green;
    margin-top: 10px;
    margin-right: 180px;
}

.banner img{
    width: 100%;
}

.menu div ul{
    display: flex;
    background-color: green;
}

.menu div ul li{
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}
  
.menu li {
    float: left;
    margin-left: 80px;
}
  
.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */

/* .first-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item{
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow:4px 4px 7px black;
}

.item img{
    display: block;
    float: left;
    width: 100%;
    height: 400px;
}

.content{
    display: block;
    float: right;
} */

.first-row{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-gap: 10px;
}

.item img{
    width: 100%;
    height: 420px;
    margin-top: 10px;
}

.content{
    display: inline-block;
    width: 100%
} 

.item-content{
    width: 95%;
}

.content h2 {
    color: rgb(255, 122, 145);
}

.content p{
    font-weight: bold;
}

.line-content {
    font-size: medium;
    color: rgb(255, 122, 145);
}

.content ul {
    font-style: italic;
    color: blue;
}
/* ================================== */
.second-row{
    display: grid;
    grid-template-areas:
    'header header header header'
    'item1 item2 item3 item4';
    grid-gap: 10px;
}

.second-row h1{
    text-align: center;
    color: green;
    grid-area: header;
    display: block;
}

.product1{
    grid-area: item1;
}

.product2{
    grid-area: item2;
}

.product3{
    grid-area: item3;
}

.product4{
    grid-area: item4;
}

.product{
    border: solid 5px green;
    border-radius: 15px;
    align-items: center;
    padding-bottom: 10px;
}

.product img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;     /* img center */
    margin-top: 10px;
}

.product h3{
    text-align: center;
    color: green;
    font-size: 25px;
}

.product p{
    text-align: center;
    color: green;
    font-size: 20px;
}

.product button{
    background-color: orange;
    color: white;
    display: block;
    margin: 0 auto;
    font-size: large;
}

.footer{
    background-color: green;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}