.service-item{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
}

.service-item h3 {
    font-size: 20px;
}

.mid-combo{
    color: rgb(195, 180, 180);
    font-size: 20px;
}

.item{
    background-color: rgb(195, 180, 180);
    padding: 10px 10px 0px 10px;
}

.titleitem{
    border-bottom: 2px dashed black;
}

.footer{
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}